<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<br>
<div class="container">
  <div class="row">
    <div class="topic-title col-md-6">
      <h2>
        <%= @topic.title %>
        <div class="pull-right btn-group">
          <%= link_to "Edit topic", edit_topic_path(@topic.id), class: 'btn btn-success' %>
          <%= link_to "Delete topic", @topic, method: :delete, class: 'btn btn-danger', data: {confirm: "Delete \"#{@topic.title}?\""} %>
        </div>
      </h2>
    </div>
  </div>
  <div class="row bookmark-body ">
    <% @topic.bookmarks.each do |bookmark| %>
      <div class="col-md-4">
        <%= link_to bookmark.url, bookmark.url, class: 'embedly-card' %>
        <div class="pull-right btn-group btn-group-xs">
          <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
          <% if bookmark.user == current_user %>
            <%= link_to "Edit", edit_topic_bookmark_path(@topic, bookmark), class: 'btn btn-default' %>
            <%= link_to "Delete", [@topic, bookmark], method: :delete, class: 'btn btn-default', data: {confirm: "Delete \"#{bookmark.url}?\""} %>
          <% end %>
        </div>
      </div>
    <% end %>
      <div class="col-md-4">
        <%= link_to "New bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-xs btn-info' %>
      </div>
  </div>
</div>
<br>
